<?xml version="1.0"?>
<launch>
    <arg name="init_x" default="0.0" />
    <arg name="init_y" default="0.0" />
    <arg name="init_theta" default="0.0" />

    <arg name="robot_id" default="load" />
    <arg name="model" default="ropod"/>
    <arg name="cart_length" default="1.1"/>
    <arg name="model_path" default="$(find ropod_sim)/description/xacro/$(arg model).xacro"/>

    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="start_rviz" default="true"/>

    <arg name="global_frame" default="/$(arg robot_id)/odom"/>

    <!-- Load the world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    </include>

    <include file="$(find ropod_sim)/ros/launch/cart.launch">
        <arg name="cart_model" value="mobidik"/>
        <arg name="cart_id" value="cart_1"/>
        <arg name="cart_init_x" value="-2.0" />
        <arg name="cart_init_y" value="0.0" />
        <arg name="cart_init_theta" value="0.0" />
        <arg name="cart_length" value="$(arg cart_length)" />
        <arg name="global_frame" value="$(arg global_frame)" />
    </include>

    <!-- Load the robot description from the urdf model -->
	<group ns="$(arg robot_id)">
        <param name="tf_prefix" value="$(arg robot_id)" />
        <param name="robot_description"
               command="rosrun xacro xacro --inorder '$(arg model_path)'
                        namespace:=$(arg robot_id) cart_length:=$(arg cart_length)" />

        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
            <param name="rate" value="10"/>
        </node>

        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />

        <!-- Spawn the robot using the arguments and robot description -->
        <node name="spawn_urdf_model" pkg="gazebo_ros" type="spawn_model"
            args="-param robot_description -urdf -model $(arg robot_id)
                  -x $(arg init_x) -y $(arg init_y) -z 0.0 -Y $(arg init_theta) " />

        <node pkg="ropod_sim" name="dock_tf_pub" type="dock_tf_pub" output="screen">
            <remap from="~dock" to="/load/dock"/>
            <param name="robot_id" type="str" value="$(arg robot_id)"/>
            <param name="rate" type="double" value="5.0"/>
            <param name="cart_length" type="double" value="$(arg cart_length)"/>
        </node>
	</group>

    <group if="$(arg start_rviz)">
        <node pkg="rviz" type="rviz" name="rviz"
              args="-d $(find ropod_sim)/ros/config/example.rviz" />
    </group>

</launch>
